@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todo__wrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todo__form {
  width: 100%;
  margin-bottom: 1rem;
}

.todo__input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: rgb(255, 255, 255);
}

.todo__input::placeholder {
  color: #ffffff4d;
}

.todo__button {
  background: #8758ff;
  color: #eae8ee;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.todo__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.todo__sorting {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
}

.todo__label input {
  margin: 5px;
}

.todo__exec-date {
  font-size: 0.75rem;
  color: rgb(255, 255, 255, 0.8);
}

.todo p,
.todo svg {
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
